Flask
pymongo
Flask-PyMongo
requests
datetime
bs4
schedule
flask_bcrypt
flask_jwt_extended
flask_cors
sentence-transformers
pyvi
accelerate==0.21.0
peft==0.4.0 
bitsandbytes==0.40.2 
transformers 
trl==0.4.7
rank-bm25
ipywidgets